<div class="_container">
    <div class="content" fxLayout="row wrap">
        <div class="left-side" fxFlex="48" fxFlex.lt-lg='100'>
            <div class='content-area'>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        APP Management Console:
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Console Users Admin</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Your Biz App Configuration</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">User Category Management</div>
                        </div>
                    </div>
                </section>
                <mat-divider></mat-divider>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Recently Used Apps :
                    </div>
                    <div class="app-area" fxLayout="row">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Official Chat App</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">User Categor Admin</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Quotation/Bidding</div>
                        </div>
                    </div>
                </section>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Favourite Apps :
                    </div>
                    <div class="app-area" fxLayout="row wrap" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Attendance & Tracking</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Calendar</div>
                        </div>
                        <div class="app-content">
                            <a fxLayout="column" fxLayoutAlign="start center">
                                <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                                <div class="img-content">Official Chat App</div>
                            </a>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Customer Order Tracking</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Enquiry</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Quotation/Bidding</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Supplier Purchase Order</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Vehicle tracking</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Your Biz App Management</div>
                        </div>
                    </div>
                </section>
                <mat-divider></mat-divider>
                <section>
                    <div class="field-area" fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="text-field" fxFlex=65>
                            <mat-form-field appearance="outline">
                                <mat-label>Search</mat-label>
                                <input matInput>
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="select-field" fxFlex=30>
                            <mat-form-field style="color: honeydew;font-size: 14px; " appearance="outline">
                                <mat-label style="font-size: 14px;">Sort by</mat-label>
                                <mat-select>
                                    <mat-option value="english">English</mat-option>
                                    <mat-option value="Spanish">Spanish</mat-option>
                                    <mat-option value="German">German</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Admin Apps :
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">
                                Users Admin
                            </div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">
                                User Login Session Data
                            </div>
                        </div>
                    </div>
                </section>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Communication Apps :
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Official Chat App</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">BoradCast</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Directory</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="divider" fxFlex=0.01 fxHide.lt-md></div>

        <div class="right-side" fxFlex=48 fxFlex.lt-lg='100'>
            <div class="content-area">
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Human Resources (HR) Apps :
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Attendance + Leave App</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Leave Request</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Expenses Reimbursement</div>
                        </div>
                    </div>
                </section>

                <section style='margin:5px 0'>
                    <div class="title-area">
                        Productivity Apps:
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Calendar</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Project Schedule</div>
                        </div>
                        <div class="app-content">
                            <a fxLayout="column" fxLayoutAlign="start center">
                                <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                                <div class="img-content">Cloud File Storage</div>
                            </a>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Block Social Media</div>
                        </div>
                    </div>
                </section>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Supplier Management Apps:
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Quotation/Bidding</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Supplier Purchase Order</div>
                        </div>
                    </div>
                </section>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Customer Management Apps:
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Customer Order/ Tracking</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img" [routerLink]="['/technical-apps-paper-industry']">
                            <div class="img-content" style="color:rgb(241, 159, 145)">Catalog</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Driver tracking</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Enquiry</div>
                        </div>
                    </div>
                </section>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Premises Security Apps:
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Visitor’s Entry Permit</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content">Security Guard Patrol</div>
                        </div>
                    </div>
                </section>
                <section style='margin:5px 0'>
                    <div class="title-area">
                        Technical Apps/Manufacturing/Pulp and Paper/Paper Mills /Paper
                    </div>
                    <div class="app-area" fxLayout="row" fxLayoutGap="5px">
                        <div class="app-content" fxLayout="column" 
                            fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content" >Technical Calculations</div>
                        </div>
                        <div class="app-content" fxLayout="column" fxLayoutAlign="start center">
                            <img src="../../../../assets/icons/app.png" alt="" class="app-img">
                            <div class="img-content" >Lab Calculations</div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>