<div class="_container">
    <div class="content" fxLayout=" row wrap" fxFlex="100">

        <div class="left-side" fxLayout=" row" fxFlex="40" fxFlex.lt-lg="100" fxLayoutAlign="center center ">

            <div class="" fxLayout=" column" fxLayoutAlign="center start">
                <div class="secondary-heading">
                    For Leave Application, Attendance Log data click the menu button.
                </div>
                <div class="" fxLayoutAlign="center start" fxLayout
                    style="padding: 20px 0;font-size: 20px; font-weight: 600" fxFlex="100">
                    <div class="" style="color:#9a9a9a;margin-right: 5px;">Hello</div>
                    <div class="" style="color:#3366ff">Antony S</div>
                </div>


                <div class="" fxLayout="column" fxLayoutAlign=" center center " fxFlex.lt-lg="100" fxFlex=""
                    fxLayoutGap="10px">
                    <div style="padding: 5px 0;font-size: 14px; font-weight: 500;color:#9a9a9a">Face Recognition
                        Login<span style="color:rgb(250, 0, 0)">*</span>
                    </div>
                    <div class="user" fxLayout='column' fxLayoutAlign='center center'>
                        <div class="circle" fxLayout='row wrap' fxLayoutAlign='center center'>
                            <p class="inner-text" style="color:#818080">Allow access to camara to enable face
                                recognition
                            </p>
                        </div>
                        <div class="triangle"></div>
                    </div>

                    <div class="" style="padding: 5px 0;font-size: 14px; font-weight: 600;color:#9a9a9a">
                        To mark your Attendance, Please Clock In
                    </div>
                    <div class="" style="padding: 5px 0;font-size: 20px; font-weight: 600;color:#3366ff">08:30 am</div>
                    <div class="" style="padding: 5px 0;font-size: 20px; font-weight: 600;color:#9a9a9a">12th December
                        2020
                    </div>

                    <button mat-raised-button class="btn" [routerLink]="['/attendance-app']"
                        style="border-radius: 15px; line-height: 27px;width: 150px;">Clock In Time</button>
                </div>
            </div>
        </div>

        <div class="divider" fxHide.lt-lg="true" fxFlex="0.01" style="background-color: #9a9a9a;"></div>

        <div class="right-side" fxLayout=" row" fxLayoutAlign="center center" fxFlex.lt-lg="100" fxFlex="59.3"
            fxFlex.lt-lg="100" ngStyle.gt-md="margin-left: 10px;" ngStyle.lt-lg="margin-top:10px">

            <img src="../../../../assets/icons/map.png" alt="" style="width: 100%;">
        </div>

    </div>
</div>