// Color  Format
//$primary-color: #ff3333;
$secondary-color: #9a9a9a;
//$secondary-color: #0f0f0f;
$primary-color: #3366ff;
// Text  Format
$primary-text-color: #3366ff;
//$secondary-color: #0f0f0f;
$secondary-tyext-color: #9a9a9a;
